.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-embed-youtubevideo {
  width: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.logo-container {
  z-index: 2;
  opacity: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -75px;
  display: flex;
  position: relative;
}

.body {
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: inherit;
  background-color: #000;
  background-clip: border-box;
}

.container {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 200px;
  display: flex;
}

.section-2 {
  margin-top: 10px;
}

.link {
  color: #fff;
  text-align: center;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000;
  flex: 0 auto;
  margin-top: -171px;
  margin-bottom: 99px;
  padding-bottom: 200px;
  font-family: Minecraftten Vgore, sans-serif;
  font-size: 120px;
  text-decoration: underline;
}

.paragraph {
  color: #fff;
  text-align: center;
  margin-top: 40px;
  font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, sans-serif;
  font-size: 40px;
}

.container-2 {
  margin-top: 20px;
}

.social-buttons-container {
  z-index: 2;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  opacity: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-right: 45px;
  display: flex;
  position: relative;
}

.image {
  margin-left: 10px;
}

.image-2 {
  margin-left: 0;
}

.image-3 {
  margin-left: 10px;
}

.image-4 {
  margin-left: -2px;
}

.heading {
  color: #fff;
}

.heading-2 {
  color: #fff;
  text-align: center;
}

.cell, .cell-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.image-5 {
  border-bottom-style: solid;
  border-bottom-color: #000;
  padding-bottom: 0;
}

.link-2 {
  color: #fff;
  font-size: 20px;
}

.heading-3 {
  color: #fff;
}

.link-3, .link-4, .link-5, .link-6, .link-7 {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

.section-4 {
  z-index: 2;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  position: relative;
}

.link-8 {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  align-self: auto;
  margin-left: 0;
  font-family: Minecraftten Vgore, sans-serif;
  font-size: 30px;
  text-decoration: none;
}

.link-9, .link-10, .link-11 {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  margin-left: 0;
  font-family: Minecraftten Vgore, sans-serif;
  font-size: 30px;
  text-decoration: none;
}

.link-13 {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: Minecraftten Vgore, sans-serif;
  font-size: 30px;
  text-decoration: none;
}

.youtube {
  z-index: 1;
  float: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  display: flex;
  position: static;
}

.image-6 {
  margin-top: -183px;
  padding-bottom: 199px;
}

.spud-showdown-container {
  z-index: 2;
  opacity: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.image-7 {
  margin-top: 0;
}

.text-block {
  direction: ltr;
  color: #fff;
  text-align: center;
  text-transform: none;
  margin-top: 15px;
  padding-top: 0;
  padding-left: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.section-5 {
  margin-top: 100px;
}

.body-2 {
  white-space: normal;
  word-break: normal;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

.container-4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section-6 {
  z-index: 3;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.section-7 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section-8, .section-9, .section-10, .section-11 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.body-3 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

.body-4 {
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 42px;
}

.body-5, .body-6 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

.body-7 {
  background-image: linear-gradient(rgba(255, 135, 135, .5), rgba(255, 135, 135, .5));
}

.noise {
  z-index: 0;
  opacity: .75;
  mix-blend-mode: normal;
  background-image: url('../images/100-100-10-monochrome.png');
  background-position: 0 0;
  background-size: 75px 75px;
  border: 1px #000;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.youtube-container {
  z-index: 2;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  opacity: 1;
  filter: blur();
  -webkit-text-stroke-width: 0px;
  border: 0 solid #000;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  display: block;
  position: relative;
}

.link-block {
  -webkit-text-stroke-width: 0px;
  border-right: 0 solid #000;
  justify-content: center;
  align-self: auto;
  align-items: stretch;
  display: flex;
}

.image-8 {
  margin: 115px 10px 0;
}

.lighting {
  z-index: 0;
  opacity: 1;
  background-image: radial-gradient(circle at 50% 60%, #202020, #000);
  padding-top: 0;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-3 {
  border-radius: 20px;
  position: static;
  overflow: hidden;
}

.image-9 {
  max-width: 75%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.image-10 {
  max-width: 65%;
}

.text-block-2 {
  color: #fff;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #000;
  align-self: auto;
  font-family: Minecraftten Vgore, sans-serif;
  font-size: 30px;
}

.text-block-3 {
  color: #fff;
  text-align: center;
  -webkit-text-stroke-width: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 20px;
  font-style: normal;
}

.copyright-container {
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  display: flex;
  position: relative;
}

.youtube-copy {
  z-index: 1;
  float: none;
  filter: blur(50px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -550px;
  display: flex;
  position: static;
}

.youtube-blur-container {
  z-index: 1;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  opacity: 1;
  filter: blur();
  -webkit-text-stroke-width: 0px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  display: flex;
  position: relative;
}

.div-block-4 {
  -webkit-text-stroke-width: 0px;
  border: 0 #000;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
  overflow: hidden;
}

.image-11 {
  max-width: 100%;
  text-align: center;
}

.link-block-2 {
  text-align: center;
  flex: 0 auto;
  align-self: auto;
}

.link-block-3 {
  text-align: center;
}

.image-12 {
  max-width: 75%;
}

.link-block-4 {
  text-align: center;
}

.html-embed {
  text-align: left;
  border-radius: 50px;
}

.div-block-7 {
  width: 350px;
  height: 74px;
  float: none;
  text-align: left;
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
  margin-left: 600px;
  display: block;
  overflow: hidden;
}

.link-block-5 {
  z-index: 3;
  width: 350px;
  height: 74px;
  pointer-events: auto;
  object-fit: contain;
  border-radius: 25px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: -50px;
  position: relative;
  overflow: hidden;
  transform: scale(.7);
}

.html-embed-2 {
  z-index: 2;
  pointer-events: none;
  -webkit-text-stroke-width: 0px;
  flex-wrap: nowrap;
  padding-right: 0;
  display: block;
  position: relative;
  transform: translate(0);
}

.cell-3 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-4 {
  text-align: left;
}

.cell-4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell-5, .cell-6, .cell-7, .cell-8 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.heading-5, .heading-6 {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: Minecraftten Vgore, sans-serif;
}

.text-block-4 {
  font-size: 40px;
  line-height: 40px;
}

.cell-9, .cell-10 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container-5 {
  z-index: 3;
  margin-top: 0;
  position: relative;
}

.text-block-5 {
  color: #fff;
  text-align: center;
  -webkit-text-stroke-width: 0px;
  padding-top: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 24px;
  line-height: 32px;
}

.text-block-6 {
  text-align: center;
  margin-bottom: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.paragraph-2 {
  text-align: left;
  text-indent: 50px;
  margin-top: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.event-stack {
  z-index: 3;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-top: 0;
  position: relative;
}

.leadership-description {
  z-index: 3;
  color: #fff;
  position: relative;
}

.leadership-profile {
  z-index: 3;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 100px;
  display: flex;
  position: relative;
}

.image-13 {
  opacity: 1;
  filter: blur(50px);
  text-align: left;
  border-radius: 30px;
  margin-top: 0;
  padding-top: 0;
  position: relative;
  transform: translate(0);
}

.image-14 {
  text-align: left;
  border-radius: 40px;
  margin-top: -175px;
  padding-top: 0;
  position: relative;
  transform: translate(0, -5px);
}

.page-title {
  z-index: 3;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 50px;
  position: relative;
}

.heading-8 {
  margin-bottom: 20px;
}

.contact-us-description {
  z-index: 3;
  color: #fff;
  position: relative;
}

.partner-profile {
  z-index: 3;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 300px;
  margin-right: 300px;
  padding-bottom: 50px;
  display: flex;
  position: relative;
}

.image-15 {
  width: 200px;
  filter: blur(20px);
  text-align: left;
  flex: 0 auto;
  align-self: auto;
  padding-right: 25px;
  position: relative;
  transform: translate(0);
}

.text-block-7 {
  color: #fff;
  padding-right: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 20px;
}

.paragraph-3 {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
}

.link-14 {
  color: #4d97ff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 20px;
}

.cell-11 {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-block-8 {
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 20px;
}

.image-15-copy {
  width: 200px;
  max-width: 110%;
  text-align: left;
  width: 125px;
  max-width: 100%;
  float: none;
  aspect-ratio: auto;
  opacity: 1;
  text-align: left;
  border-radius: 0;
  flex: 0 auto;
  align-self: auto;
  margin-top: -60px;
  margin-left: -60px;
  padding-right: 0;
  position: absolute;
}

.image-16 {
  width: 200px;
  max-width: 110%;
  filter: blur(20px);
  text-align: left;
  flex: 0 auto;
  align-self: auto;
  padding-right: 25px;
  position: relative;
}

.image-17 {
  width: 200px;
  opacity: .75;
  filter: blur(20px);
  text-align: left;
  flex: 0 auto;
  align-self: auto;
  padding-right: 25px;
  position: relative;
  transform: translate(0);
}

.image-16-copy {
  width: 200px;
  max-width: 110%;
  text-align: left;
  flex: 0 auto;
  align-self: auto;
  margin-top: -150px;
  padding-right: 25px;
  position: relative;
}

.image-17-copy {
  width: 200px;
  text-align: left;
  flex: 0 auto;
  align-self: auto;
  margin-top: -133px;
  padding-right: 25px;
  position: relative;
  transform: translate(0);
}

.youtube-2 {
  -webkit-text-stroke-width: 0px;
  margin-top: 0;
}

.image-18, .image-19 {
  border-radius: 10px;
  align-self: center;
  box-shadow: 0 15px 20px 10px rgba(0, 0, 0, .2);
}

.cell-12 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.image-19-copy {
  border-radius: 10px;
  align-self: center;
  box-shadow: 0 15px 20px 10px rgba(0, 0, 0, .2);
}

.image-20 {
  z-index: 3;
  text-align: left;
  position: relative;
}

.section-12 {
  z-index: 3;
  text-align: center;
  margin-bottom: 50px;
  display: block;
  position: relative;
}

.section-13 {
  z-index: 3;
  position: relative;
}

.paragraph-4 {
  color: #fff;
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.cell-13 {
  opacity: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image-15-copy-copy {
  width: 125px;
  max-width: 100%;
  float: none;
  opacity: 1;
  filter: blur(20px);
  text-align: left;
  flex: 0 auto;
  align-self: auto;
  margin-top: -60px;
  margin-left: -60px;
  margin-right: auto;
  padding-right: 0;
  position: relative;
}

.div-block-8 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: left;
  flex: 0 auto;
  order: 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-self: auto;
  display: block;
  position: static;
}

.image-15-copy2 {
  width: 150px;
  max-width: 100%;
  float: none;
  aspect-ratio: auto;
  text-align: left;
  flex: 0 auto;
  align-self: auto;
  margin-top: -60px;
  margin-left: -70px;
  padding-right: 0;
  position: absolute;
}

.image-15-copy-copy-copy2 {
  width: 150px;
  max-width: 100%;
  float: none;
  filter: blur(20px);
  text-align: left;
  flex: 0 auto;
  align-self: auto;
  margin-top: -60px;
  margin-left: -70px;
  margin-right: auto;
  padding-right: 0;
  position: absolute;
}

.quick-stack {
  padding-top: 55px;
}

.bold-text {
  -webkit-text-stroke-width: 1px;
}

.heading-9, .link-15 {
  font-size: 20px;
}

.heading-10 {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 20px;
}

.heading-11 {
  color: #fff;
  font-size: 20px;
}

.heading-12 {
  font-size: 20px;
}

.heading-13 {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 20px;
}

.link-16 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.container-6, .container-7, .container-8 {
  z-index: 1;
  position: relative;
}

.container-9 {
  z-index: 2;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.heading-14 {
  color: #fff;
  text-align: center;
  font-size: 50px;
}

.container-10 {
  margin-top: 78px;
  position: relative;
}

.body-8 {
  color: #fff;
  background-color: #000;
  font-size: 20px;
}

.container-11, .container-12, .container-13 {
  flex-direction: row;
  display: flex;
  position: relative;
}

.heading-15 {
  color: #fff;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 20px;
}

.heading-16 {
  color: #fff;
}

.heading-17 {
  font-size: 20px;
}

.heading-18 {
  color: #fff;
  font-size: 20px;
}

.heading-19 {
  font-size: 20px;
}

.heading-20 {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 20px;
}

.heading-21 {
  color: #fff;
  font-size: 20px;
}

.heading-22, .heading-23 {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 20px;
}

.paragraph-5, .paragraph-6, .paragraph-7 {
  color: #fff;
  text-indent: 25px;
  margin-left: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  line-height: 25px;
}

.container-14 {
  position: relative;
}

.image-21 {
  margin-top: 115px;
  margin-left: 10px;
  margin-right: 10px;
}

.container-15 {
  z-index: 3;
  position: relative;
}

.container-16, .container-17 {
  position: relative;
}

@media screen and (max-width: 991px) {
  .section-4 {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .link-8, .link-9, .link-10, .link-11 {
    padding-top: 40px;
    font-size: 40px;
  }

  .link-13 {
    font-size: 40px;
  }

  .text-block {
    padding-left: 35px;
    font-size: 35px;
  }

  .partner-profile {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .image-15-copy {
    margin-left: -140px;
    padding-right: 0;
  }

  .image-15-copy-copy, .image-15-copy2, .image-15-copy-copy-copy2 {
    margin-left: -140px;
  }
}

@media screen and (max-width: 767px) {
  .logo-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .section-4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .link-8, .link-9, .link-10, .link-11, .link-13 {
    font-size: 40px;
  }

  .text-block {
    font-size: 30px;
  }

  .text-block-6 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .paragraph-2 {
    text-align: center;
  }

  .heading-14 {
    font-size: 30px;
  }
}

@media screen and (max-width: 479px) {
  .logo-container {
    position: relative;
  }

  .link {
    font-size: 50px;
  }

  .social-buttons-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 12px;
  }

  .section-4 {
    z-index: 2;
    margin-top: -21px;
    line-height: 0;
    position: relative;
  }

  .link-8 {
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 0;
  }

  .link-8.w--current {
    margin-top: 10px;
  }

  .link-9, .link-10, .link-11, .link-13 {
    margin-top: 10px;
    padding-top: 10px;
  }

  .text-block {
    padding-left: 10px;
    font-size: 15px;
  }

  .youtube-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .image-8 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
  }

  .text-block-2 {
    display: none;
  }

  .text-block-3 {
    font-size: 10px;
  }

  .copyright-container {
    flex-direction: row;
  }

  .youtube-copy {
    margin-top: -190px;
  }

  .link-block-5 {
    width: 250px;
    max-width: 200px;
    margin-left: auto;
    margin-right: -35px;
  }

  .heading-5 {
    align-self: auto;
    font-size: 32px;
  }

  .heading-6 {
    flex: 0 auto;
    order: 0;
    align-self: auto;
    font-size: 32px;
  }

  .text-block-5 {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0;
    font-size: 14px;
    line-height: 20px;
  }

  .text-block-6 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .paragraph-2 {
    width: auto;
    direction: ltr;
    text-align: left;
    text-indent: 30px;
    word-break: normal;
    overflow-wrap: normal;
    align-self: auto;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
  }

  .page-title {
    font-size: 30px;
  }

  .heading-8 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
  }

  .partner-profile {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .text-block-7 {
    border-radius: 0;
    margin-left: 10px;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .paragraph-3 {
    margin-bottom: 10px;
    margin-left: -200px;
    margin-right: -200px;
  }

  .image-18, .image-19 {
    margin-top: 60px;
  }

  .cell-12 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .image-19-copy {
    padding-top: 60px;
  }

  .image-20 {
    display: none;
  }

  .section-13 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .paragraph-4 {
    text-align: left;
    text-transform: none;
    white-space: normal;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    line-height: 25px;
  }

  .bold-text {
    font-size: 30px;
    line-height: 0;
  }

  .quick-stack-2 {
    opacity: 1;
    border-radius: 0;
    flex: 0 auto;
    align-self: flex-start;
    margin-left: -113px;
    padding-left: 0;
    padding-right: 0;
  }

  .cell-14 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .cell-15 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cell-16 {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .link-15, .heading-10, .heading-11 {
    font-size: 16px;
  }

  .heading-13 {
    font-size: 16px;
    line-height: 30px;
  }

  .container-6 {
    text-align: center;
    margin-left: 20px;
  }

  .container-7 {
    margin-left: 10px;
  }

  .heading-14 {
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  }

  .container-11, .container-12, .container-13 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .heading-15 {
    font-size: 10px;
  }

  .heading-20 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
  }

  .heading-22, .heading-23 {
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    display: flex;
  }

  .paragraph-5, .paragraph-6 {
    margin-top: 10px;
    margin-right: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .paragraph-7 {
    word-break: normal;
    overflow-wrap: normal;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .link-17 {
    text-align: center;
    margin-left: 10px;
  }

  .container-14 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .image-21 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .bold-text-2, .bold-text-3, .bold-text-4, .bold-text-5, .bold-text-6 {
    font-size: 30px;
    line-height: 0;
  }
}

#w-node-ad37520a-a1d2-9db1-fe04-6110344bed1e-7fb0b98c {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 479px) {
  #w-node-ad37520a-a1d2-9db1-fe04-6110344bed1e-7fb0b98c {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }
}


@font-face {
  font-family: 'Minecraftten Vgore';
  src: url('../fonts/MinecraftTen-VGORe.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}